<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Skin diseases Classifier</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


  
<style>
  ::placeholder {
    color:rgb(13, 13, 14);
    opacity:0.8; /* Firefox */
    font-weight: bold;
  }
  </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>
<body style="background-image: url('https://media.istockphoto.com/photos/close-up-of-a-lovely-caucasian-woman-having-microdermabrasion-non-picture-id1170618023?k=20&m=1170618023&s=612x612&w=0&h=7AeCJFK5vdI_XDQWJV6T_7dkg500WENScZSiKVefJSY='); 
background-repeat:no-repeat;
background-size:cover;
height:100vh;
display:flex;
">
<body>
	<body>

		<div class="container">
		  <h1 class="jumbotron bg-primary">Image Classfication</h1>
		  <br><br>
		  <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">
		
			<div class="form-group">
			  <label class="control-label col-sm-2" for="pwd">Upload Your Image :</label>
			  <div class="col-sm-10">          
				<input type="file" class="form-control" placeholder="Hours Studied"  name="my_image" id="pwd">
			  </div>
			</div>
		
			<div class="form-group">        
			  <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">Submit</button>
			  </div>
			</div>
		  </form>
		
			{% if text %}
		  <img src="{{img_path}}" height="400px" width="400px">
			<h2> Your Prediction   : <i> {{text}} </i></h2>
		
			{% endif %}
		
		</div>
</body>
</html>
